@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,700,800,400,600);

/* frontpage */

html, body {
  height: 100%;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
	border: 2px solid #797f85;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: inset 1px 2px 2px 1px rgba(255, 255, 255, 0.2);
}

.login-box {
	margin-top: 30px;
	margin-left: 30px;
	text-align: left;
}

.login-box p {
	font-family: 'open Sans', serif;
	font-size: 24px;
	font-weight: 700;
}

/* ui-slider */
.ui-widget-content {
	background: none;
}

.ui-slider-horizontal {
	height: 1px;
}

.ui-slider .ui-slider-handle {
	width: .4em;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.6em;
	margin-left: -.1em;
}

.steps {
	color: #eee;
	font-weight: bold;
	margin-bottom: 10px;
}

/* forms */
input, textarea, select {
	background: transparent;
	outline:none;
	-webkit-appearance: none;
	color: #333;
	border: 0;
	border-bottom: 1px solid #333;
	padding: 12px 20px 6px;
	margin: 0px;
	font-style: italic;
	font-size: 16px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
	   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease;
	    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease;
	     -o-transition: background-color .3s ease, border .3s ease, color .3s ease;
	        transition: background-color .3s ease, border .3s ease, color .3s ease;
}

.create-team input {
	border-bottom: 1px solid #eee;
	color: #eee;
}

.create-team label,
#team-numbers-container label {
	vertical-align: top;
	color: #eee;
	padding-left: 20px;
	font-style: italic;
	font-size: 16px;
}

label span {
	margin: 0 auto;
}

.login-box a {
	position: relative;
	font-size: 12px;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
	color: #333;
	top: -25px;
	left: 130px;
}

textarea {
	width: 100%;
	padding: 10px 20px;
	resize: both;
	margin-top: 0px;
	font-style: italic;
	height: 150px;
}
	
input:hover, textarea:hover, select:hover {
	color: #fff;
}
	
input:focus, textarea:focus, select:focus {
	color: #fff;
}

input[type="text"], input[type="email"] {
	width: 100%;
}

select, option {
	cursor: pointer;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #fff; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #fff; }

input.placeholder, textarea.placeholder { color: #fff; }

#form {
	position: relative;
	overflow: hidden;
}

.form-container {
	padding-top: 40px;
	position: relative;
	overflow: hidden;
}

.subscriptionForm {
	display: table;
	margin: 0 auto;
}

.form-note {
	color: #000;
	font-size: 1em;
	font-style: italic;
	margin: 24px 0;
}

#success-message {
	padding-top: 10px;
	color: #fff;	
	display: none;
}

#error-message {
	padding-top: 10px;
	color: #fff;
	display: none;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
	width: 100%;
}

.contact-form input, .contact-form textarea, .contact-form select {
	background: rgba(255,255,255,0.0);
	outline: none;
	-webkit-appearance: none;
	color: #fff;
	border: 0px solid #fff;
	padding: 12px 20px;
	border-bottom: 2px solid #fff;
	margin: 0px;
	font-style: italic;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
	-moz-transition: background-color .3s ease, border .3s ease, color .3s ease;
	-ms-transition: background-color .3s ease, border .3s ease, color .3s ease;
	-o-transition: background-color .3s ease, border .3s ease, color .3s ease;
	transition: background-color .3s ease, border .3s ease, color .3s ease;
}

.contact-form input[type="submit"] {
	width: auto;
	font-style: normal;
	background: transparent;
	color: #e4e4e3;
	cursor: pointer;
	padding: 12px 20px;
	letter-spacing: 0.20em;
	font-weight: 300;
}

.contact-form .input-error {
	border-bottom: 2px solid #ed5555;
}

.contact-form .response-message {
	margin: 20px 0 30px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

/* WebKit browsers */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { 
    color: #333; 
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333; 
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333; 
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #333; 
}

.create-team input::-webkit-input-placeholder,
.create-team textarea::-webkit-input-placeholder { 
    color: #eee; 
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #eee; 
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #eee; 
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #eee; 
}

/* reste */

body {
	background: url(../img/bg.png);
}

#application {
	display: none;
	padding-top: 40px;
}

p.title, input.title {
	font-family: 'Arvo', serif;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-weight: 700;
	font-size: 36px;
}

input.title {
	background: none;
	border: none;
}

#statusbar {
	height: 58px;
	width: 100%;
	border-bottom: 1px solid #FFF;
	color: #FFF;
	font-family: 'Arvo', serif;
	font-size: 22px;
	line-height: 58px;
}

.facebook-img {
	padding-bottom: 5px;
}

#status {
	float: left;
	padding-left: 30px;
}

#fbbutton {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: -10px;
	padding-left: -25px;
}

.logout {
	float: right;
	margin-right: 6px;
	margin-top: 6px;
}

.avatar {
	width: 100%;
}

.avatar-container,
.team-numbers-container {
	position: relative;
}

#team-name input[type="text"] {
	height: 60px;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.45);
	width: 100%;
	font-family: 'Special Elite', cursive;
	font-size: 24px;
	color: #000;
}

.team-number, .myteam-number {
	position: relative;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.45);
	color: #000;

	/* curved corners */
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px; /* standard version at last */

	/* drop shadows. */
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2); /* standard version at last */

	width: 60px;
	text-align: center;
	height: 60px;
	line-height: 2.3em;
	font-family: 'Special Elite', cursive;
}

#team-number-choice {
	padding: 0;
	margin: 0;
}

.team-members-container {
	height: 100px;
}

.team-members-container li {
	width: 20%;
}

#team-number-choice li {
	list-style-type: none;
	float: left;
	margin-left: 18px;
	border: none;
}

#team-numbers-container p,
.team-name-title {
	border-bottom: 1px solid #eee;
}

#team-numbers-container p:hover {
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

#team-numbers-container p:active,
#team-numbers-container p: {
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
	background: #eee;
}

.team-number-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	cursor: pointer;
}

.team-number-item p {
	width: 100%;	
}

.bordered {
	/* general */
	padding: 5px;
	margin-bottom: 60px;
	
	/* curved corners */
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px; /* standard version at last */
	
	/* drop shadows. */
	-moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.45), 0px 1px 2px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.45), 0px 1px 2px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.45), 0px 1px 2px rgba(255, 255, 255, 0.2); /* standard version at last */

	/* general */
	border-color: #fff;

	/* background color (for non css3 browsers) and gradient */
	background-color: #2d2d2d;
	background: -moz-linear-gradient(top,
		#404040,
		#2d2d2d 50%,
		#000
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#404040),
		color-stop(0.5, #2d2d2d),
		to(#000)
	);

	/* linear gradient for IE 5.5+ */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#404040', EndColorStr='#000000');
}

.bordered.myteam {
	margin: 0 0 60px 0;
}

.clickable {
	cursor: pointer;
}

p.pilot {
	font-family: 'Arvo', serif;
	color: #FFF;
	font-size: 20px;
}

@media (max-width: )

@media (max-width: 768px) {
  .vertical-center:before {
    /* height: auto; */
    display: none;
  }
}

@media (max-width: 1199px) {
  .login-box {
  	text-align: center;
  }
}

